{% extends 'layouts/base.html' %}
{% block content %}
      <div class="starter-template">
        <div>



        </div>
        
        
        <table class="table table-bordered table-success mt-4">

          <thead class="thead-dark">
            <tr>
              
              
              <th scope="col"> University</th>
              <th scope="col">NobelPrize Count</th>
                    
              
            </tr>
          </thead>
          <tbody >
            
            <tr>
              <br>  
              
              <br><br>
             <center> <h4>Count of Prizes Per Affiliation University</h4></center>
              {% for i in affiliation_count %}           
              
              <th scope="row">{{i.laureate__affiliation}}</th>
              
              <td>{{i.id__count}}</td>
              
      
            </tr>
      
      
            {% endfor %}
          </tbody>
          
        </table>
        </div>
        {% endblock %}
      