{% extends 'layouts/base.html' %}
{% block content %}
      <div class="starter-template">


        <div>
        </div>
        <h2>hgdjdjechscj</h2>
        <table class="table table-bordered table-success mt-4">

          <thead class="thead-dark">
            <br>
            <h4>Nobel prize counts based on gender</h4>
            <tr>
              
              <th scope="col">Gender</th>
              <th scope="col">NobelPrize Count</th>   
              <th scope="col">Year</th>      
              
            </tr>
          </thead>
          <tbody>
            
            <tr>  
              {% for i in gender_count1 %}                  
              
            <td>{{i.laureate__gender}}</td>
              <td>{{i.id__count}}</td>
              <td>1990-2000</td>             
      
            </tr>
            {% endfor %}
            <tr>  
              {% for i in gender_count2 %}                  
              
            <td>{{i.laureate__gender}}</td>
              <td>{{i.id__count}}</td>
              <td>2000-2020</td>             
      
            </tr>
            {% endfor %}
                     
              
          </tbody>          
        
        </table>

        
        {% endblock %}
      