{% extends 'layouts/base.html' %}
{% block content %}
      <div class="starter-template">
        <div>



        </div>
        <h2>hgdjdjechscj</h2>
        <table class="table table-bordered table-success mt-4">

          <thead class="thead-dark">
            <tr>
              <th scope="col">category</th>
              <th scope="col">gender</th>
              <th scope="col">year</th>        
              
            </tr>
          </thead>
          <tbody>
            
            <tr>  
              {% for i in gender_count %}     
                   
              
              <th scope="row">{{i.category}}</th>
              
              <td>{{i.laureate__gender}}</td>
              <td>{{i.category__count}}</td>
              <td>{{i.year}}</td>
              <td>{{i.laureate__gender__count}}</td>
                         
              
      
            </tr>
      
      
            {% endfor %}
          </tbody>
        </table>
        {% endblock %}
      