{% extends 'layouts/base.html' %}
{% block content %}
      <div class="starter-template">
        <div>



        </div>
        <h2>hgdjdjechscj</h2>
        <table class="table table-bordered table-success mt-4">

          <thead class="thead-dark">
            <tr>
              <th scope="col">Country</th>
              <th scope="col">Category</th>
              <th scope="col">Count</th>
              
              
            </tr>
          </thead>
          <tbody>
            
            <tr>  
              {% for i in data %}           
              
              <th scope="row">{{i.laureate__born_country}}</th>
              
              <td>{{i.category}}</td>
              <td>{{i.category__count}}</td>
              <td>{{i.laureate__born_country__count}}</td>
              
              
      
            </tr>
      
      
            {% endfor %}
          </tbody>
        </table>
      
      
       
      </div>
{% endblock %}

    